{
	admin off
}

stockhub.pm2etml.ch {
	encode gzip zstd

	handle /api/* {
		reverse_proxy api:3000
	}

	handle {
		reverse_proxy web:5173
	}
}

http://stockhub.pm2etml.ch {
	redir https://stockhub.pm2etml.ch
}
